.city-header {
    margin: 5rem 0;

    .city-title {
        font-size: 3.2rem;
        margin-bottom: 1rem;
    }

}

.place-to-go {
    .places {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;

        .place {
            
            box-shadow: var(--shadow-first);
            border-radius: .7rem;

            .image {
                position: relative;
                width: 100%;
                height: 30rem;
                border-bottom: .4rem solid var(--primary-color);
                
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-top-left-radius: .7rem;
                    border-top-right-radius: .7rem;
                }
            }

            .image::after  {
                content: '';
                position: absolute;
                bottom: -2rem;
                left: 10%;
                transform: translateX(-100%);
                border-width: 1rem;
                border-style: solid;
                border-color: var(--primary-color) transparent transparent transparent;
            }

            .card-body {
                padding: 1rem;
                .title {
                    font-size: var(--font-xl);
                    margin-bottom: 1rem;
                }
            }


        } 
        
    }
}

.festivals {
    margin-bottom: 5rem;
    .fest-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 2rem), 1fr));
        row-gap: 3rem;
        column-gap: 2rem;

        .festival {
            display: grid;
            grid-template-rows: auto 1fr auto;
            position: relative;
            padding: 2rem;
            border-radius: .7rem;
            box-shadow: rgba(39, 144, 189, 0.5) 5px 4px 4px 2px;
            

            .title {
                font-weight: bold;
                font-size: var(--font-xl);
            }

            .description {
                margin: 1rem 0;
            }

            .features {
                .title {
                    font-size: var(--font-md);
                    font-weight: bold;
                    margin-bottom: 1rem;
                }

                .features-list {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;

                    li {
                        font-size: var(--font-sm);

                        svg {
                            color: var(--green-color);
                            padding-right: .5rem;
                        }
                    }
                }


            }

            .date {
                position: absolute;
                top: 1rem;
                right: 1rem;
                font-size: var(--font-xsm);
            }
        }
    }
}

.local-cuisine {
    margin-bottom: 5rem;
    .food-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 1.5rem;

        .food {
            position: relative;
            background-color: pink;
            border-radius: .7rem;
            box-shadow: var(--shadow-first);

            .title {
                position: absolute;
                top: .5rem;
                left: .5rem;
                color: var(--light-color);
            }

            .image {
                img {
                    display: block;
                    width: 100%;
                    border-radius: .7rem;
                }
            }

        }



    }
}

.local-folks {
    margin-bottom: 5rem;
    
    .interviews {
        .interview {
            background-color: var(--green-color);
            padding: 2rem;
            border-radius: .7rem;
            font-size: var(--font-sm);
            box-shadow: var(--shadow-first);
            transition: box-shadow .3s;

            .header {
                display: flex;
                align-items: center;
                gap: 1rem;
                margin-bottom: 1rem;
                .avatar {
                    width: 3.5rem;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 99rem;
                    }
                }

                .name {
                    font-size: var(--font-m);
                }
            }
        }

        .interview:hover {
            box-shadow: var(--shadow-second);
        }

        .grid-span-col-2 {
            grid-column: span 2;
            background-color: var(--light-color);
        }

        .grid-span-row-2 {
            grid-row: span 2;
            background-color: var(--gray-color);
            color: var(--light-color);
        }
    }
}

@media (min-width: 768px) {
    .local-folks {
        .interviews {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1.5rem;
        }
    }
    
}

.legends {
    background-color: var(--green-color);
    color: var(--light-color);
    padding: 2rem 4rem;
    border-radius: .7rem;
    .myth {
        .title {
            text-align: center;
            font-size: var(--font-xxl);
            margin-bottom: 1rem;
        }

        .story {
            display: -webkit-box;
            -webkit-line-clamp: 12;
            -webkit-box-orient: vertical;
            overflow: hidden;
            span {
                font-size: 3rem;
            }
        }

        .story.show {
            -webkit-line-clamp: 99;
        }
    }

}