.interesting-info {
    margin-bottom: 6rem;
    .facts {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .fact {
            width: calc(100% - 2rem);
            background-color: var(--light-color);
            color: var(--dark-color);
            border-radius: .7rem;

            .fact-card {
                position: relative;
                padding: 2rem;
                border-radius: .7rem;
                box-shadow: var(--shadow-first);
                min-height: 10rem;
                

                .title {
                    margin-bottom: 1rem;
                    font-weight: bold;
                }

                .description {
                    font-size: var(--font-sm);
                }

                svg {
                    position: absolute;
                    top: 0;
                    right: -.2rem;
                    color: var(--primary-color);
                    width: 2rem;
                    height: 2rem;
                }

            }

        }
    }
}

@media (min-width: 500px) {
    .interesting-info {
        .facts {
            .fact {
                width: calc(50% - 2rem);
            }
        }
    }
}

@media (min-width: 768px) {
    .interesting-info {
        .facts {
            .fact {
                width: calc(33% - 2rem);
            }
        }
    }
}

