.interesting-info {
    margin-bottom: 6rem;
    .facts {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .fact {
            width: calc(100% - 2rem);
            background-color: var(--light-color);
            color: var(--dark-color);
            border-radius: .7rem;

            .fact-card {
                padding: 2rem;
                border-radius: .7rem;
                box-shadow: var(--shadow-first);

                .title {
                    margin-bottom: 1rem;
                }

                .description {
                    font-size: var(--font-sm);
                }
            }

        }
    }
}

@media (min-width: 500px) {
    .interesting-info {
        .facts {
            .fact {
                width: calc(50% - 2rem);
            }
        }
    }
}

@media (min-width: 768px) {
    .interesting-info {
        .facts {
            .fact {
                width: calc(33% - 2rem);
            }
        }
    }
}

