.local-cuisine {
    margin-bottom: 5rem;
    .food-list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;

        .food {
            display: grid;
            grid-template-columns: 2fr 3fr;
            height: 15rem;
            border-radius: .7rem;
            background-color: var(--light-color);
            box-shadow: var(--shadow-first);
            color: var(--primary-color);

            .image {
                height: 15rem;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-top-left-radius: .7rem;
                    border-bottom-left-radius: .7rem;
                    object-fit: cover;
                }
            }

            .body {
                border-radius: .7rem;
                padding: 1.5rem 2rem 2rem 1rem;

                .title {
                    margin-bottom: .8rem;
                    font-weight: bold;

                }

                .desc {
                    font-size: var(--font-sm);
                }
            }
        }
    }
}

@media (min-width: 768px) {
    .local-cuisine {
        .food-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}