.nav-menu-list {
    display: none;
}

@media (min-width: 768px) {
    .nav-menu-list {
        display: flex;
        align-items: center;
        gap: 4rem;
    
        li {
            a.login-button {
                display: flex;
                gap: .5rem;
                padding: 1rem 2rem;
                background-color: var(--primary-color);
                color: var(--light-color);
                border-radius: .7rem;
            }
        }
    }
}