.home-popular {
    margin-top: 4rem;


    .popular-cities {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }

    .city {
        position: relative;
        box-shadow: var(--shadow-first);
        border-radius: .7rem;
        min-height: 30rem;
        max-height: 40rem;
        overflow: hidden;

        &:hover img {
            transform: scale(1.05);
        }

        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            border-radius: .7rem;
            transition: all .3s;
        }

        .city-name {
            position: absolute;
            top: 1rem;
            left: 1rem;
            font-size: var(--font-lg);
            font-weight: bold;
            color: var(--primary-color);
        }
    }

    .grid-span-2,
    .grid-span-3 {
        grid-column: span 3;
    }

    @media (min-width: 767px) {
        .grid-span-3 {
            grid-column: span 3;
        }

        .grid-span-2 {
            grid-column: span 2;
        }
    }
}
