@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

html {
  font-size: 43%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
}

:root {
  --primary-color: #2E0F38;
  --secondary-color: #1A2C54;
  --third-color: #8351A8;
  --forth-color: #4D7B93;
  --light-color: #F7F9F2;
  --dark-color: #191919;
  --gray-color: #393E46;
  --shadow-first: rgba(1, 1, 2, 0.2) 0px 2px 29px 0px;
  --shadow-second: rgba(34, 40, 49, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  --font-xsm: 1.2rem;
  --font-sm: 1.4rem;
  --font-m: 1.6rem;
  --font-lg: 1.8rem;
  --font-xl: 2.0rem;
  --font-xxl: 2.4rem;
}

p{
  line-height: 2.2rem;
  letter-spacing: .05rem;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-color);
}

li {
  list-style-type: none;
}

svg {
  width: 1.2rem;
}

.header-title {
  margin: 3rem 0 2rem 0;
}

.container {
  padding: 0 2%;
}

@media (min-width: 576px) {
  html {
    font-size: 45%;
  }

  .container {
    padding: 0 4%;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 50%;
  } 

  .container {
    padding: 0 8%;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 56.25%;
  }

  .container {
    padding: 0 12%;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 62.5%;
  }

  .container {
    padding: 0 15%;
  }
}





