* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.6rem;
  height: 200rem;
}

:root {
  --primary-color: #EE7214;
  --secondary-color: #F7B787;
  --third-color: #F9E8D9;
  --green-color: #527853;
  --light-color: #F7F9F2;
  --dark-color: #191919;
  --gray-color: #45474B;
  --shadow-first: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  --shadow-second: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-color);
}

li {
  list-style-type: none;
}

svg {
  width: 1.2rem;
}

.container {
  padding: 0 15%;
}

/* SCROLLBAR */

/* RESPONSIVE */

@media (max-width: 1199px) {
  html {
    font-size: 56.25%
}

  .container {
    padding: 0 12%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 50%;
  }

  .container {
    padding: 0 8%;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 45%;
  } 

  .container {
    padding: 0 4%;
  }
}

@media (max-width: 575px) {
  html {
    font-size: 43%
  }

  .container {
    padding: 0 2%;
  }
}