nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 4rem;
    background-color: var(--light-color);
    box-shadow: var(--shadow-first);
}

.nav-logo {
    font-size: 2.4rem;
    font-weight: bold;
}

.nav-menu-list {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.login-button {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.login-button svg {
    width: 1.3rem;
}

