.cities {
    margin: 5rem 0;

    .title {
        font-size: var(--font-xxl);
        margin-bottom: 2rem;
    }

    .city-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
        gap: 2rem;

        .city-card {
            .city-card-body {
                position: relative;

                .card-img {
                    position: relative;
                    img {
                        width: 100%;
                        max-height: 42rem;
                        border-radius: .7rem;
                    }
                }


                .card-absolute {
                    opacity: 0;
                    font-size: var(--font-sm);
                    position: absolute;
                    inset: 10rem 4rem;
                    text-align: center;
                    color: #fff;

                    > div {
                        font-size: var(--font-xl);
                        margin-bottom: 2rem;
                    }
                }
            }

            .city-name {
                text-align: center;
                margin-top: .5rem;
            }
        }
    }
}